.navbar {
    display: flex;
    justify-content: space-between;
    font-family: Calibri;
    padding: 15px;
}


.main {
    display: grid;
    justify-content: center;
    font-family: Calibri;
    padding-top: 200px;
    padding-bottom: 450px;

}

.buttons-main {
    display: flex;
    justify-content: space-evenly;
    font-family: Calibri;
}

.footer{
    display: flex;
    justify-content: space-between;
    font-family: Calibri;
    border-top: 1px solid;

}